[submodule "extern/DKUtil"]
	path = extern/DKUtil
	url = https://github.com/gottyduke/DKUtil.git
[submodule "extern/CommonLibSF"]
	path = extern/CommonLibSF
	url = https://github.com/Starfield-Reverse-Engineering/CommonLibSF.git
